@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --Text: #121311;
    --Background: #F5F9FF;
    --Primary: #4f93ff;
    --Secondary: #A1C4FC;
    --Accent: #9ffd8a;
}
body {
    background-color: var(--Background);;
}

a, p, li {
    color: var(--Text);
    font-size: 20px;
    padding: 0;
    margin: 0;
}